* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
}
body {
	background-image: linear-gradient(rgb(49, 187, 187), rgb(43, 68, 78));
	background-repeat: no-repeat;
  	background-attachment: fixed;
}
h1 {
	color: #222;
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
}
.gifs-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin: 100px 50px 50px;
}
.main {
	z-index: 0;
}
.error--true {
	margin-top: 79px;
}
.error--false {
	margin-top: 100px;
}
form {
	display: flex;
	width: 200px;
	margin: 20px auto;
	button {
		margin: 10px;
		border: none;
		outline: none;
		background-color: cornflowerblue;
		border-radius: 10px;
		padding: 10px;
		cursor: pointer;
		&:active {
			background-color: darkgray;
		}
	}
}
input {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
}
.end-text {
	text-align: center;
}
.search-error {
	text-align: center;
	color: rgb(175, 5, 5);
}
